<md-toolbar color="primary">

  <button color="warn" md-icon-button [disabled]="selected.length === 0">
    <md-icon>delete</md-icon>
  </button>

  <span class="example-fill-remaining-space"></span>

  <button md-icon-button (click)="showNewResource()">
    <md-icon>add</md-icon>
  </button>

  <span class="example-fill-remaining-space"></span>

  <span *ngIf="rows">
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>settings</md-icon>
    </button>

    <md-menu #menu="mdMenu" class="selected-column">
      <button md-button disabled="">Toggle columns </button><hr />
      <span *ngFor="let col of allColumns" md-menu-item (click)="$event.stopPropagation(); toggle(col)">
        <md-checkbox
          color="primary"
          align="start"
          [id]="col.name"
          (change)='toggle(col)'
          [checked]='isChecked(col)'>
        {{ col.name }}
      </md-checkbox>
    </span>
    </md-menu>
  </span>
</md-toolbar>

<span *ngIf="rows">
  <br />
  <div>
  <ngx-datatable
    #theTable
    class="material expandable"
    [rows]="rows"
    [columnMode]="'force'"
    [columns]="columns"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"

    [externalPaging]="true"
    [count]="page.count"
    [offset]="page.page - 1"
    [limit]="page.per"
    (page)='setPage($event)'

    [externalSorting]="true"
    [loadingIndicator]="loading"
    (sort)="onSort($event)"

    [selected]="selected"
    [selectionType]="'multiClick'"
    (select)='onSelect($event)'>

    <!-- Row Detail Template -->
     <ngx-datatable-row-detail [rowHeight]="100" #theDetailRow (toggle)="onDetailToggle($event)">
       <ng-template let-row="row" ngx-datatable-row-detail-template>
         <div>
           <div><strong>Row detail</strong></div>
           <div>Record #{{ row.id }}</div>
         </div>
       </ng-template>
     </ngx-datatable-row-detail>

     <!-- Column Templates -->
    <ngx-datatable-column
      [width]="50"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span style="cursor: pointer"
            md-icon-button
            title="Expand/Collapse Row"
            (click)="$event.stopPropagation(); toggleExpandRow(row)">
            <md-icon>
              {{ row.$$expanded ? 'expand_more' : 'keyboard_arrow_right' }}
            </md-icon>
          </span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
       <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
         {{row[col.name]}}
       </ng-template>
     </ngx-datatable-column>

  </ngx-datatable>
</div>
</span>
