<span *ngIf="apiResource">
  <form #theForm="ngForm" class="center one-half">
    <span *ngIf="action === 'create'">
      <br />
      New {{ apiResource.name }} attributes
      <hr />
      <br />
    </span>

    <attribute-input *ngFor="let attribute of apiResource.apiAttributes" [requestBody]="requestBody[apiResource.formattedName]" [apiAttribute]="attribute" [apiResource]="apiResource"></attribute-input>

    <association-input *ngFor="let association of apiResource.reverseAssociations" [requestBody]="requestBody[apiResource.formattedName]" [reverseAssociation]="association" [apiResource]="apiResource"></association-input>

    <br />
    <button md-raised-button color="warn" (click)="hideNew()">CANCEL</button>
    <button md-raised-button color="primary" [disabled]="!theForm.valid" (click)="onFormActionClick()">{{action | uppercase }} {{apiResource.name | uppercase }}</button>
  </form>
  <br />
</span>
