<md-progress-bar color="accent" *ngIf="loading" mode="indeterminate"></md-progress-bar>

<md-card class="auth-card">

    <form #theForm="ngForm">
        <md-card-header *ngIf="!errorMsg" class="auth-card-header">
            <md-card-title class="text-center">WELCOME</md-card-title>
            <md-card-subtitle class="text-center">Please sign in</md-card-subtitle>
        </md-card-header>


        <md-chip-list class="auth-card-header mat-chip-list-stacked" *ngIf="errorMsg">
            <md-chip class="center text-center">Please try again</md-chip>
            <md-chip selected="true" color="warn" class="center text-center">{{errorMsg }}</md-chip>

        </md-chip-list>
        <hr>

        <div style="margin-bottom: 30px"></div>


        <md-card-content class="center text-center">


            <md-input-container class="display-block one-half center" color="primary">
                <input name="email" mdInput [(ngModel)]="email" placeholder="e-mail" required #temail="ngModel">
                <!--<div [hidden]="temail.valid || temail.pristine" class="alert alert-danger">
                    email is required
                </div>-->
            </md-input-container>

            <md-input-container class="display-block one-half center" color="primary">
                <input name="password" mdInput [(ngModel)]="password" placeholder="password" type="password" required #tpassword="ngModel">
                <!--<div [hidden]="tpassword.valid || tpassword.pristine" class="alert alert-danger">
                    password is required
                </div>-->
            </md-input-container>

        </md-card-content>

        <md-card-actions class="center text-center">
            <button md-button [disabled]="!theForm.valid" (click)="signIn()">SIGN IN</button>
        </md-card-actions>
    </form>

</md-card>