<span *ngIf="!loading && apiProject">
  <br>
  <md-card class="center text-center one-half">
    <md-card-header class="center-card-header">
      <md-card-title >{{ apiProject.name }}</md-card-title>
      <md-card-subtitle>Created by {{ currentUser.name }} on {{apiProject.createdAt | date:'yMMMdjms'}}</md-card-subtitle>
    </md-card-header>

    <md-card-content>
      <a md-raised-button color="primary" *ngIf="!apiProject.launched" (click)="launchApiProject()"><md-icon>launch</md-icon>LAUNCH</a>
      <a md-raised-button color="warn" *ngIf="apiProject.launched" (click)="shutdownApiProject()"><md-icon>exit_to_app</md-icon>SHUTDOWN</a>

      <span *ngIf="apiProject.launched && apiProject.apiResources.length > 0">
        <md-tab-group [selectedIndex]="0" (selectChange)="onTabSelectChange($event)">
          <md-tab *ngFor="let resource of apiProject.apiResources" [label]="resource.name"></md-tab>
        </md-tab-group>

        <br />

        <span *ngIf="apiResource">
          <resource-crud [apiResource]="apiResource"></resource-crud>
        </span>
      </span>
    </md-card-content>
  </md-card>
</span>
