<span *ngIf="!apiValidation.isMarkedAsDeleted">
    <md-card>
        <md-card-content>
            <button class="pull-right" md-icon-button color="warn" (click)="emitDelete()"><md-icon>delete</md-icon></button>

            <md-select required #vTrait="ngModel" placeholder="Validation trait" [(ngModel)]="apiValidation.trait" name="validationTrait">
                <md-option *ngFor="let option of options" [value]="option">
                    {{ option | uppercase }}
                </md-option>
            </md-select>

            <span *ngIf="traitFields && traitFields.length > 0">
                <p>Advanced options for {{ apiValidation.trait }}</p>

                <md-input-container *ngFor="let field of traitFields">
                    <input [name]="field" mdInput [(ngModel)]="apiValidation.advancedOptions[field]" [placeholder]="field" required >
                </md-input-container>
            </span>

        </md-card-content>
    </md-card>
    <br>
</span>